/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Properties */

:root {
    --black: #000000;
    --white: #fff;
}

/* Generic */

body {
    padding-top: 50px;
    font-family: sans-serif;
}

.container {
    width: 1800px;
    height: calc(100vh - 150px);
    background-color: yellow;
    margin: 0 auto;
}

.flex {
    display: flex;
}


/* Header */

header {
    height: 50px;
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: var(--white);
}

header > .flex {
    justify-content: flex-end;
}

.view {
    padding: 3px 5px;
    background-color: #4a4a4a;
}

.fa-maximize {
    padding: 3px 5px;
    margin-left: 2px;
    background-color: #4a4a4a;
}

.view, .fa-maximize {
    border-radius: 5px;
    margin-top: 5px;
}


/* Main */



/* Footer */

footer {
    height: 100px;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}